// main contacto

.contacto{

    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 100%;
    

    .formulario{
    margin-top: 5px;    
    font-size: 1.5rem;
    background-color: #EEEEEE;
    }
    
}