// header
header{

    z-index: 1050;
    width:100% ;
    
    background-color: rgb(146, 147, 148);
    
    @include flex(flex,row);
    justify-content: space-between;
    position: sticky;
    top: 0;
    
    background-image: radial-gradient(circle, #3e2eac, #6452bc, #8676cb, #a69bd8, #c7c1e5, #ccc9e2, #d1d1de, #d8d8d9, #c4c4c5, #b0b0b1, #9d9c9e, #8a898b);
   
    

        .logo{
        width: 10%;  

        display: flex;
        justify-content: space-between;
        
          
    
            }
    
    
        .box_lista {
            transition: 2s;
            list-style: none;
            width: 100%;
            height: 100%;
             @include flex(flex,row);   
            justify-content: space-betweens;
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            margin: 0;
            margin-bottom: 1rem;
            padding: 0px 100px;
                    .in{
                        padding: 10px 10px;
                        
                    }
                    .bio{
                        @extend .in
                    }
                    .disc{
                        @extend .in
                    }
                    .rec{
                        @extend .in
                    }
                    fot{
                        @extend .in
                    }


        
        .in:hover{
             @include detalle-nav($rojo,2rem,solid);

        }
        .bio:hover{
            @include detalle-nav($verde,2rem,solid);
        }
        .disc:hover{
            @include detalle-nav($amarillo,2rem,solid);
        }
        .rec:hover{
            @include detalle-nav($blanco,2rem,solid);
        }

        .fot:hover{
            @include detalle-nav($rojo,2rem,solid);
        }

    }   

            
}



// footer

footer{
    background-image: radial-gradient(circle, #3e2eac, #484dbc, #5869c8, #6d84d3, #879fdb, #869bd0, #8698c5, #8594ba, #67739c, #4b537f, #303562, #171946);
    
    background-color:#b7c4cc ;
    padding-top: 15px;

    .redes-contactos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

        
       
  
}
.frase_cierre {
    display: flex;
    font-size: 1rem;
    color: $negro;
    font-weight: bold;
}    
.redes_contacto img{
    width: 30px;
    

}


.redes_contacto{
    display:grid ;
    grid-template-areas: 
    "p l1 l2 l3 l4"
    
    ;
    grid-template-rows:50px ;
    grid-template-columns: 60% 10% 10% 10% 10%;


}
.redes_contacto{
    z-index: 6;
}
.frase_cierre{
    grid-area: p;
    padding-left: 30px;
    font-size: 1.5rem;

}
.facebook{
    grid-area: l1;
}
.instagram{
    grid-area: l2;
}
.twitter{
    grid-area: l3;
}
.mail{
    grid-area: l4;
}


}








