/*paleta de colores*/
/* #000000 #4E4FEB #068FFF #EEEEEE  #9DB2BF*/

$negro:#000000;
$azul:#4E4FEB;
$tiza:#EEEEEE;
$gris:#9DB2BF;
$rojo:red;
$blanco:white;
$verde:green;
$amarillo:yellow;

$font:'Inconsolata', monospace;

@mixin flex ($display,$direccion){
    display: $display;
    flex-direction: $direccion;
}

@mixin detalle-nav ($color,$size,$decoracion){
    color: $color;
    font-size: $size;
    text-decoration: $decoracion;

}


