*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    

}


@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inconsolata:wght@500&family=Noto+Sans+KR:wght@100&family=Roboto+Mono:ital,wght@1,100&display=swap');

@import "variables.scss";


@import "header-footer.scss";

@import "index.scss";

@import "bibliografia";

@import "videos-recitales";

@import "discografia";


@import "fotos";

@import "contacto";



@import"media-q";























